In [1]:
# control flow - if else statement

In [2]:
a = 10

In [9]:
if a < 15 :                                                         # if you dont want to write anything inside we can just pass
    pass

In [7]:
if a < 15 :                                                              #indentation (:) is important otherwise throws arror 
    print ("my name is gowtham")

my name is gowtham

In [6]:
a<15

True

In [13]:
if 24 < 15 : 
    print ("my name is gowtham")

In [12]:
24 < 15

False

In [14]:
if 10 < 3:
    print ("10 is lesser than 3")
else:
    print ("if statement is wrong")

if statement is wrong

In [15]:
if 5 < 10:
    print ("10 is lesser than 3")
else:
    print ("if statement is wrong")

10 is lesser than 3

In [1]:
income = int(input())
if income < 50 :
    print (" i will be able to buy a phone")
elif income < 70 :
    print (" i will be able to buy a car")
elif income < 90 :
    print (" i will be able to rent a house")
else:
    print (" i will not be able to buy anything")

10
 i will be able to buy a phone

In [4]:
total_price = int(input())
if total_price > 20000:
    discount  = total_price * 0.2
    print ("discount will be ", discount)
elif total_price <= 7000:
    discount = total_price * 0.05
    print ("discount will be ", discount)
else:
    print (" wont be able to give any discount")

5894
discount will be  294.7

In [7]:
coup = input()
if coup == "SUDHANSHU5":
    print (" you will be able to get a discount of 5%")
    paid_amount = 7080 - (7080 * 0.05)
    print (" you will be able to get one neuron with this amount ", paid_amount)
else:
    print ("kindly use a valid coupon code ")

SUDHANSHU5
 you will be able to get a discount of 5%
 you will be able to get one neuron with this amount  6726.0

In [8]:
study_hour = int(input()) 
if study_hour < 1:
    print("it may take 8-9 months of time to make a transition")
elif study_hour < 4 and study_hour > 1:
    print ("it may take 6 months of time to make a transition ")
elif study_hour < 10 and study_hour > 4 :
    print ("it may take 5 months of time to make a transition")
elif study_hour > 10 :
    print ("it may take 3 months of time to make a transition ")
else:
    print (" it will be difficult to make a transition")

5
it may take 5 months of time to make a transition

In [13]:
study =float(input())
if study <1:
    print("study more")
elif study > 2 and study < 4.5:
    print ("study consistently ")
else:
    print("start studying")

3
study consistently

In [12]:
a = 9
if a == 9 :
    print ("valid")

valid

In [17]:
s = input("enter a string to start")
course= input(" enter course name ")
service= input(" enter service name ")
if s == "ineuron":
    if course == "DSA":
        print ("yes its available under oneneuron and in multiple modes for job preparation and core concepts")
    elif course == "Blockchain":
        print (" this is not available as of now  , kindly raise your demand and we will fullfill in 60 days")
    elif course == "FSDS":
        print ("yes it is available and you can start learning ")
    else:
        print("this course is not available kindly raise your demand ")
elif s == "oneneuronservice":
    if service == "courserequest":
        print("this is not available as of now  , kindly raise your demand and we will fullfill in 60 days")
    elif service == "module":
        print("this is not available as of now  , kindly raise your demand and we will fullfill in 30 days")
    elif service == "doubt":
        print ("kindly raise your demand and we will fullfill in 24 hours")
    else:
        print("kindly provide your feedback and we will fulfill")
        
else :
    print ("kindly connect with our team ")

enter a string to startoneneuron
 enter course name yuh
 enter service name job
kindly connect with our team

In [20]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [21]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [22]:
for i in "sudh":
    print(i)

s
u
d
h

In [23]:
t = (1,2,3,4,5,6,6)
for i in t:
    print(i)

1
2
3
4
5
6
6

In [25]:
l = [1,4,5.6,4.7j,'push']
for i in l:
    print(type(i), "type of ", i)

<class 'int'> type of  1
<class 'int'> type of  4
<class 'float'> type of  5.6
<class 'complex'> type of  4.7j
<class 'str'> type of  push

In [28]:
l = [3,4,5.6,7.8,6+4j]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

5
6
7.6
9.8
(8+4j)

In [29]:
l1

[5, 6, 7.6, 9.8, (8+4j)]

In [36]:
l = [2,4,78,9.0,5.6,7.9j,[5,6,7,8,'k'],"push"]
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
               print(j)

2
4
78
5
6
7
8

In [81]:
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,'dsfd'],"kumar"]

In [65]:
for i in l:
    print(l.index(i), "index of ",i)                                         # this solution is not advisable because if items are repetitive it gives the index of first element alone

0 index of  2
1 index of  45
2 index of  78
3 index of  12
3 index of  12
3 index of  12
3 index of  12
7 index of  sudh
8 index of  (6+7j)
9 index of  [56, 67, 78, 'dsfd']

In [70]:
for i in range(len(l)):
    print('index',i, "for element",l[i])

index 0 for element 2
index 1 for element 45
index 2 for element 78
index 3 for element 12
index 4 for element 12
index 5 for element 12
index 6 for element 12
index 7 for element sudh
index 8 for element (6+7j)
index 9 for element [56, 67, 78, 'dsfd']

In [74]:
for i in enumerate(l):
    print(i)                                                          #returns a tuple of its element and its respective index

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'dsfd'])

In [73]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfd']

In [82]:
for i in l :
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

In [91]:
l2=[]
for i in l:
    if type(i) == int:
        l2.append(i**2)

In [92]:
l2

[4, 2025, 6084, 144, 144, 144, 144]

In [95]:
for i in l:
    if type(i) == int:
        print(i**2)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
               print(j**2)

4
2025
6084
144
144
144
144
3136
4489
6084

In [3]:
l = ['name ', 'emailid','phoneno.','address']
for i in l:
    print(i + "sudh")

name sudh
emailidsudh
phoneno.sudh
addresssudh

In [4]:
s = 'ineuron'
for i in s:
    print(i)

i
n
e
u
r
o
n

In [5]:
l

['name ', 'emailid', 'phoneno.', 'address']

In [6]:
for i in l:
    print(i)
else:
    print("if for loop is not going to complete itself then it will come to else")

name
emailid
phoneno.
address
if for loop is not going to complete itself then it will come to else

In [7]:
l

['name ', 'emailid', 'phoneno.', 'address']

In [8]:
for i in l :
    if i == "emailid":
        break 
    print(i)
else:
    print("check this statement")

name

In [11]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
else:
    print("dont execute it unless and until it is printing my name ")

In [12]:
a = 1
while a<6:
    print(a)
    a = a+1

1
2
3
4
5

In [14]:
a = 1
while a < 5 :
    print(a)
    if a == 4:
        break
    a = a+1

1
2
3
4

In [ ]:
a = 1
while a<5 :
    print(a)
    a = a+1
    if a == 3:
        continue

In [ ]:
while a < 7:
    pass                                                          # if we wouldn't use pass it would throw syntactical error

In [ ]:
while a<4 :
    continue

In [17]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [18]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [19]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [20]:
list(range(3,50,2))

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [21]:
list(range(3,10,-1))

[]

In [22]:
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [23]:
list(range(10, -5, -2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [24]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [78]:
n = 5
for i in range (0,n):
    for j in range(0,i+1):
        print("*", end = '')                                         # at the end of everything end appends something and defaults to new line (works as \n)
    print('\r')                                                      # when internal loop is exhausted print \r (carriage return), can use \n as well

*
**
***
****
*****

In [48]:
t = (3,4,5,6,7,8,9)
for i in range(len(t)):                                                   #index of elements in tuple 
    print(i)

0
1
2
3
4
5
6

In [49]:
t = (3,4,5,6,7,8,9)
for i in range(len(t)):
    print(i,t[i])                                                           #tuples and its respective indexes

0 3
1 4
2 5
3 6
4 7
5 8
6 9

In [50]:
t

(3, 4, 5, 6, 7, 8, 9)

In [59]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

9
8
7
6
5
4
3

In [60]:
d = {"a":"fsfds", "b":"fsds","c" :[1,2,3,4,5],"d":(4,5,6,7),"e":"sudh"}

In [61]:
for i in d:
    print(i)

a
b
c
d
e

In [62]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****

In [76]:
n=5 
for i in range(1,n+1):
    for j in range(1,n-i+2):
        print("*", end = "")
    print("\r")

*****
****
***
**
*

In [81]:
t = (1,2,3,4,5,6)
list(range(len(t)))

[0, 1, 2, 3, 4, 5]

In [84]:
for i in range(len(t)):
    print(i, t[i])                                                             #tuple of ith place

0 1
1 2
2 3
3 4
4 5
5 6

In [90]:
t1 = (8,6,55,99,22,44,3)

In [91]:
for i in range(len(t1)-1,-1,-1):
    print(t1[i])

3
44
22
99
55
6
8

In [92]:
d

{'a': 'fsfds',
 'b': 'fsds',
 'c': [1, 2, 3, 4, 5],
 'd': (4, 5, 6, 7),
 'e': 'sudh'}

In [93]:
len(d)

5

In [96]:
for i in d:
    print(i)

a
b
c
d
e

In [97]:
d['a']

'fsfds'

In [99]:
for i in d:
    print(i,d[i])

a fsfds
b fsds
c [1, 2, 3, 4, 5]
d (4, 5, 6, 7)
e sudh

In [102]:
for i in d.items():
    print(i)

('a', 'fsfds')
('b', 'fsds')
('c', [1, 2, 3, 4, 5])
('d', (4, 5, 6, 7))
('e', 'sudh')

In [103]:
s = { 5,66,77,88,44,33,33,333,44,44,44,77,0}

In [104]:
s

{0, 5, 33, 44, 66, 77, 88, 333}

In [106]:
len(s)

8

In [105]:
for  i in s:
    print(i)

0
33
66
5
44
77
333
88

In [108]:
s = "This is basic python class"

In [109]:
len(s)

26

In [112]:
count = 0 
for i in s :
    #count = count +1
    count+=1
print(count)

26

In [113]:
s[::-1]

'ssalc nohtyp cisab si sihT'

In [119]:
l = []
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
T

In [120]:
i = len(s)-1
while (i>=0):
    print(s[i], end="")
    i = i-1

ssalc nohtyp cisab si sihT

In [126]:
s = "ineuron"
v = "AaEeIiOoUu"

In [127]:
for i in s:
    if i in v :
        print("vowel",i)
    else:
        print("not vowel",i)

vowel i
not vowel n
vowel e
vowel u
not vowel r
vowel o
not vowel n

In [131]:
"u" in "sudh"

True

In [133]:
m = "malayalam"

'malayalam'

In [135]:
s = input()
v = s[::-1]
if s == v:
    print("pallindrome")
else:
    print("not pallindrome")

eye
pallindrome

In [143]:
word = 'tuniniut'
for i in range(len(word)):
    if word[i]!=word[len(word)-i-1]:
        print("not pallindrome")
        break
else:
    print("pallindrome")

not pallindrome

In [144]:
d = {"india":"IN", "canada":"CA", "china":"CH", "unites states":"US"}

In [145]:
"india" in d

True

In [146]:
len(d)

4

In [157]:
l_greater = []
l_smaller = []
for i in d:
    if len(i)>5:
        l_greater.append(i)
    else:
         l_smaller.append(i)

In [158]:
l_greater

['canada', 'unites states']

In [159]:
l_smaller

['india', 'china']

In [204]:
d1 = {"ineuron":{
                  "a":14,
                  "b":10,
                  "c":4
                 },
                "course": {'d':45,
                "e":34,
                "f":1
                }    
}

In [ ]:
for i in d.items:

In [196]:
l1=[]
for i in d1.values():
    for j in i.values():
        l1.append(j)
    print(max(l1))

14
45

In [212]:
for i in d1.values():
    print(max(i.values()))

14
45

In [4]:
d2= {"ineuron":{"a":14,"b":10,"c":4},"course":{"d":45,"e":34,"f":1},"g":34,"h":[45,6,7,8,967],'i':(45,34,2),'k':"push"}

In [5]:
d2.values()

dict_values([{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'f': 1}, 34, [45, 6, 7, 8, 967], (45, 34, 2), 'push'])

In [6]:
l=[]
for i in d2.values():
    if type(i)== dict:
        l.append(max(i.values()))
    elif type(i)== list:
        l.append(max(i))
    elif type(i) == tuple:
        l.append(max(i))
    elif type(i) == str:
        pass
    else:
        l.append(i)
print(max(l))

967