In [1]:
# control flow - if else statement

In [2]:
a = 10

In [9]:
if a < 15 :                                                         # if you dont want to write anything inside we can just pass
    pass

In [7]:
if a < 15 :                                                              #indentation (:) is important otherwise throws arror 
    print ("my name is gowtham")

my name is gowtham

In [6]:
a<15

True

In [13]:
if 24 < 15 : 
    print ("my name is gowtham")

In [12]:
24 < 15

False

In [14]:
if 10 < 3:
    print ("10 is lesser than 3")
else:
    print ("if statement is wrong")

if statement is wrong

In [15]:
if 5 < 10:
    print ("10 is lesser than 3")
else:
    print ("if statement is wrong")

10 is lesser than 3

In [1]:
income = int(input())
if income < 50 :
    print (" i will be able to buy a phone")
elif income < 70 :
    print (" i will be able to buy a car")
elif income < 90 :
    print (" i will be able to rent a house")
else:
    print (" i will not be able to buy anything")

10
 i will be able to buy a phone

In [4]:
total_price = int(input())
if total_price > 20000:
    discount  = total_price * 0.2
    print ("discount will be ", discount)
elif total_price <= 7000:
    discount = total_price * 0.05
    print ("discount will be ", discount)
else:
    print (" wont be able to give any discount")

5894
discount will be  294.7

In [7]:
coup = input()
if coup == "SUDHANSHU5":
    print (" you will be able to get a discount of 5%")
    paid_amount = 7080 - (7080 * 0.05)
    print (" you will be able to get one neuron with this amount ", paid_amount)
else:
    print ("kindly use a valid coupon code ")

SUDHANSHU5
 you will be able to get a discount of 5%
 you will be able to get one neuron with this amount  6726.0

In [8]:
study_hour = int(input()) 
if study_hour < 1:
    print("it may take 8-9 months of time to make a transition")
elif study_hour < 4 and study_hour > 1:
    print ("it may take 6 months of time to make a transition ")
elif study_hour < 10 and study_hour > 4 :
    print ("it may take 5 months of time to make a transition")
elif study_hour > 10 :
    print ("it may take 3 months of time to make a transition ")
else:
    print (" it will be difficult to make a transition")

5
it may take 5 months of time to make a transition

In [13]:
study =float(input())
if study <1:
    print("study more")
elif study > 2 and study < 4.5:
    print ("study consistently ")
else:
    print("start studying")

3
study consistently

In [12]:
a = 9
if a == 9 :
    print ("valid")

valid

In [17]:
s = input("enter a string to start")
course= input(" enter course name ")
service= input(" enter service name ")
if s == "ineuron":
    if course == "DSA":
        print ("yes its available under oneneuron and in multiple modes for job preparation and core concepts")
    elif course == "Blockchain":
        print (" this is not available as of now  , kindly raise your demand and we will fullfill in 60 days")
    elif course == "FSDS":
        print ("yes it is available and you can start learning ")
    else:
        print("this course is not available kindly raise your demand ")
elif s == "oneneuronservice":
    if service == "courserequest":
        print("this is not available as of now  , kindly raise your demand and we will fullfill in 60 days")
    elif service == "module":
        print("this is not available as of now  , kindly raise your demand and we will fullfill in 30 days")
    elif service == "doubt":
        print ("kindly raise your demand and we will fullfill in 24 hours")
    else:
        print("kindly provide your feedback and we will fulfill")
        
else :
    print ("kindly connect with our team ")

enter a string to startoneneuron
 enter course name yuh
 enter service name job
kindly connect with our team

In [20]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [21]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [22]:
for i in "sudh":
    print(i)

s
u
d
h

In [23]:
t = (1,2,3,4,5,6,6)
for i in t:
    print(i)

1
2
3
4
5
6
6

In [25]:
l = [1,4,5.6,4.7j,'push']
for i in l:
    print(type(i), "type of ", i)

<class 'int'> type of  1
<class 'int'> type of  4
<class 'float'> type of  5.6
<class 'complex'> type of  4.7j
<class 'str'> type of  push

In [28]:
l = [3,4,5.6,7.8,6+4j]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

5
6
7.6
9.8
(8+4j)

In [29]:
l1

[5, 6, 7.6, 9.8, (8+4j)]

In [36]:
l = [2,4,78,9.0,5.6,7.9j,[5,6,7,8,'k'],"push"]
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
               print(j)

2
4
78
5
6
7
8

In [81]:
l = [2,45,78,12,12,12,12,"sudh",6+7j,[56,67,78,'dsfd'],"kumar"]

In [65]:
for i in l:
    print(l.index(i), "index of ",i)                                         # this solution is not advisable because if items are repetitive it gives the index of first element alone

0 index of  2
1 index of  45
2 index of  78
3 index of  12
3 index of  12
3 index of  12
3 index of  12
7 index of  sudh
8 index of  (6+7j)
9 index of  [56, 67, 78, 'dsfd']

In [70]:
for i in range(len(l)):
    print('index',i, "for element",l[i])

index 0 for element 2
index 1 for element 45
index 2 for element 78
index 3 for element 12
index 4 for element 12
index 5 for element 12
index 6 for element 12
index 7 for element sudh
index 8 for element (6+7j)
index 9 for element [56, 67, 78, 'dsfd']

In [74]:
for i in enumerate(l):
    print(i)                                                          #returns a tuple of its element and its respective index

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 'sudh')
(8, (6+7j))
(9, [56, 67, 78, 'dsfd'])

In [73]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 12
7 sudh
8 (6+7j)
9 [56, 67, 78, 'dsfd']

In [82]:
for i in l :
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
        print(l1)

['s', 'u', 'd', 'h']
['k', 'u', 'm', 'a', 'r']

In [91]:
l2=[]
for i in l:
    if type(i) == int:
        l2.append(i**2)

In [92]:
l2

[4, 2025, 6084, 144, 144, 144, 144]

In [95]:
for i in l:
    if type(i) == int:
        print(i**2)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
               print(j**2)

4
2025
6084
144
144
144
144
3136
4489
6084